name: Renovate
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * 0'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.1.1
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.REPO_GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
